.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper {
    width: 1000px;
    background-color: rgb(45, 45, 161);
    padding: 50px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 30px;
    border-radius: 5px;
}